.bodyContainer {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  margin-bottom: 20px;
}

.heading {
  text-align: left;
}

.featuresList {
  margin-bottom: 10px;
}

.imgContainer {
  flex-basis: 500px;
  align-self: center;
}
