.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  border-top: 1px solid black;
  background: hsl(198, 44%, 11%);
  color: white;
}

.footerHeader {
  width: 100%;
}

.footer a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.address {
  margin: 5px;
}
